<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

   
    <% include ../assets/css %>
</head>

<body style="font-family: 'Roboto', sans-serif;" data-spy="scroll" data-target="#myScrollspy" data-offset="50">

    <div class="container-fluid" id="wrapper">

        <!-- Navigation -->
        <div class="row">
            <div class="col-md-2" >
                <% include ./partials/sidebar %>
            </div>
            
    
            <div class="col-md-10" id="page-wrapper">
                <%- include('partials/'+ content) %>
                </div>
            </div>
        </div>
        
        <!-- /javascript:void(0)page-wrapper -->

 
  
    <!-- /javascript:void(0)wrapper -->
<div id="logout">
    <span class="glyphicon glyphicon-log-out "></span>
</div>
    <% include ../assets/script %>
  
</body>

</html>
