<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Intranet</title>
    <link href="css/style1.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>


</head>
<style>
    .jumbotron {
        background-color: #fff;
    }
</style>

<body>

    <img src="img/home/banner.jpg" style="width:100%;" />


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>P2C – prospect to customer </h1>
            <p>The P2C initiative is all about increasing digital sales and creating customer engagement through better understanding of customer needs and behaviour.
            </p>
            <hr>
            <!-- <p><a class="btn btn-primary btn-lg" href="index4.html" role="button">Learn more &raquo;</a></p>-->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row" style="margin-top:-50px;">
            <div class="col-md-3">
                <h2>Content</h2>
                <p>
                    <ul>

                        <li>Data entry ​</li>

                        <li>Content adaptations (ex. website: images low/medium complexity, DEMs, banners) ​​</li>

                        <li>Forms for CMS Sharepoint and part of AEM forms* ​​</li>

                        <li>Tagging data entry ​​</li>

                        <li>Change requests ( Front end development)​​</li>

                        <li>Link redirections​</li>
                </p>
                <p><a class="btn btn-default" href='/dashboard' role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>Campaign</h2>
                <p>
                    <ul>
                        <li>Scope and build campaigns </li>

                        <li>Develop dealer lead feed back programmes</li>
                        <li>Build planned and trigger-based dialogue programmes</li>

                        <li>Optimise digital channels</li>
                        <li>Work with datahandling, incl. masterkey</li>
                        <li>Predict traffic and conversion rates</li>


                    </ul>
                </p>
				<p><a class="btn btn-default" href='/campaign' role="button">View details &raquo;</a></p>

            </div>
            <div class="col-md-3">
                <h2>SEO</h2>
                <p>SEO is a marketing discipline focused on growing visibility in organic (non-paid) search engine results. SEO encompasses both the technical and creative elements required to improve rankings, drive traffic, and increase awareness in search engines

                </p>
               <p><a class="btn btn-default" href="/seo" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <h2>SEM</h2>
                <p>Search Engine Marketing (SEM) is a type of internet marketing associated with the researching, submitting and positioning of a website within search engines to achieve maximum visibility and increase your share of paid and/or organic traffic referrals from search engines.

                </p>
               <p><a class="btn btn-default" href="/sem" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->

    <footer class="footer1">
        <div class="container">

            <div class="row">
                <!-- row -->

                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Brands</h1>

                            <ul>
                                <li><a href="/dashboard/brands/fiat"><i class="fa fa-angle-double-right"></i> Fiat</a></li>
                                <li><a href="/dashboard/brands/fiat pro"><i class="fa fa-angle-double-right"></i> Fiat Pro</a></li>
                                <li><a href="/dashboard/brands/alfa romeo"><i class="fa fa-angle-double-right"></i> Alfa Romeo</a></li>
                                <li><a href="/dashboard/brands/abarth"><i class="fa fa-angle-double-right"></i> Abarth</a></li>
                                <li><a href="/dashboard/brands/jeep"><i class="fa fa-angle-double-right"></i> Jeep</a></li>

                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Safe Zone Guidelines</h1>

                            <ul>
                                <li><a href="/dashboard/safe-zone/fiat"><i class="fa fa-angle-double-right"></i> Fiat</a></li>
                                <!--<li><a  href="#"><i class="fa fa-angle-double-right"></i> Fiat Pro</a></li> -->
                                <li><a href="/dashboard/safe-zone/alfa romeo"><i class="fa fa-angle-double-right"></i> Alfa Romeo</a></li>
                                <li><a href="/dashboard/safe-zone/abarth"><i class="fa fa-angle-double-right"></i> Abarth</a></li>
                                <li><a href="/dashboard/safe-zone/jeep"><i class="fa fa-angle-double-right"></i> Jeep</a></li>
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->

                <div class="col-lg-3 col-md-3">
                    <!-- widgets column center -->



                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_recent_news">
                            <!-- widgets list -->

                            <a href="/in&out">
                                <h1 class="title-widget">In & Out Of Scope</h1>
                            </a>

                            <ul class="list-unstyled clear-margins">
                                <!-- widgets -->

                                <li class="widget-container widget_nav_menu">
                                    <!-- widgets list -->


                                    <ul>
                                        <li><a href="/dashboard/scope#fiat"><i class="fa fa-angle-double-right"></i> Fiat</a></li>
                                        <!-- <li><a  href="#"><i class="fa fa-angle-double-right"></i> Fiat Pro</a></li> -->
                                        <li><a href="/dashboard/scope#alfa-romeo"><i class="fa fa-angle-double-right"></i> Alfa Romeo</a></li>
                                        <li><a href="/dashboard/scope#abarth"><i class="fa fa-angle-double-right"></i> Abarth</a></li>
                                        <!-- <li><a  href="#"><i class="fa fa-angle-double-right"></i> Jeep</a></li> -->
                                    </ul>

                                </li>

                            </ul>

                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget">Tools</h1>

                            <ul>
                                <!-- <li><a href="/dashboard"><i class="fa fa-angle-double-right"></i>AEM </a></li> -->
                                <li><a href="/dashboard"><i class="fa fa-angle-double-right"></i> Jira</a></li>
                                <li><a href="/dashboard"><i class="fa fa-angle-double-right"></i> CPS</a></li>
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->

            </div>
        </div>
    </footer>
    <!--header-->

    <div class="footer-bottom">

        <div class="container">

            <div class="row">



                <div class="copyright">

                    <center> © 2018, Accenture, All rights reserved</center>

                </div>




                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <!--<div class="design">

					 <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>

				</div>-->

                </div>

            </div>

        </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="../../dist/js/bootstrap.min.js">
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js">
    </script>
</body>

</html>