<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=  title %></title>

   
    <% include ../assets/css %>
</head>

<body style="font-family: 'Roboto', sans-serif;" >

    <div class="container-fluid" id="wrapper">

        <!-- Navigation -->
        <div class="row">
            
            
    
            <div class=" col-md-offset-4 col-md-4">
                <%- include('partials/'+ content) %>

                </div>
            </div>
        </div>
        
        <!-- /javascript:void(0)page-wrapper -->

 
  
    <!-- /javascript:void(0)wrapper -->

    <% include ../assets/script %>
  
</body>

</html>
