<!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
      
    </div> -->
   <div class="container-fluid">
       
            <div class="row">
                
                            
                <h3 class="primary-color text-center" >General Instructions</h3>
                <div>
                    <ul style="list-style-type:circle ;    padding: 10px;">
                        <li>Reporting of Monthly Performance Reports and Technical work books</li>
                        <li>Monthly Performance Reports to be delivered in 1st week of every month</li>
                        <li>Technical work books to be delivered in 2 days when requested by the onshore team</li>
                        <li>Monthly Performance Reports: Adobe Analytics tool to be used for reporting the data</li>
                        <li>Technical workbook: Deep crawl tool to be used for reporting the data</li>
                        <li>The brands to be reported on are Fiat, Jeep, Alfa Romeo, Lancia, Abarth and Fiat Pro and locales are Italy, France, Germany, Belgium, Netherland, Denmark, and Luxemburg</li>
                        <li>Reporting to be done separately for Desktop and Mobile</li>
                        <li>The standard templates for reports and technical workbook document are to be adhered to</li>
                        <li>Nomenclature for the reports and documents is as follows:</li>
                    </ul>
                </div>
                <div>
                    <h4><strong>Technical Workbook</strong></h4>
                    <div class="para">
                        <p>For Content related checkpoints:&nbsp;</p>
                        <p>ACCENTURE CONTENT-SEO (brand) (device)_(locale)_Date&nbsp;</p>
                        <p>Example: ACCENTURE CONTENT-SEO Fiat Desktop_IT_20th June 2015&nbsp;</p>
                        <p>For Technical related checkpoints:&nbsp;</p>
                        <p>ICT-SEO (brand) (device) _ (locale) _Date&nbsp;</p>
                        <p>ICT-SEO-Fiat Desktop_IT_20th June 2015&nbsp;</p>
                    </div>
                </div>
                
                <div >
                    <p><strong>Monthly Reports</strong></p>
                    <p>For Monthly reports the format would be&nbsp;</p>
                    <p>FCA-SEO-Country Monthly Performance Analytics_Month_YYYY&nbsp;</p>
                    <p>Example: FCA-SEO-Italy Monthly Performance Analytics_Jan_2016&nbsp;</p>
                    
                    <ul style="list-style-type:circle;padding: 10px; ">
                        <li>The report and technical document is to be shared with Mumbai SEO Lead before it goes to the market SEO Lead for review.</li>
                        <li>The turnaround time for all the Monthly reports is 5 working days from the start of the month and for technical workbook it is 2 working days from the day of request.</li>
                        <li>When referring to any considerable account change that may have impacted a KPI on the Monthly reports, it is mandatory to include comments stating reasons for the fluctuations.</li>
                        <li>Once the Monthly report is ready, verify it against Google analytics and Google webmasters for accuracy.</li>
                        <li>For Technical workbook, verify it against live site for particular checkpoints</li>
                    </ul>
                </div>
                 
                               
            </div>
        </div>
