<div class="jumbotron" style="border-top-left-radius: 0px !important;border-top-right-radius: 0px !important;">
    <form id="loginForm" method="POST">
      <div class="container">
          <div class="alert alert-danger" id="loginmsg" style="display: none;" role="alert"></div>
          
          <br/>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" id="employeeid" class="form-control" placeholder="Accenture ID" aria-describedby="sizing-addon1">
            
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" id="textpassword" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
            
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-lg pull-right ">Login</button>
    </div>
    </form>
   
  </div>


  