<!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
      
    </div> -->
   <div class="container-fluid">
       
            <div class="row">
                
                            
                   <!--  <p><strong><u>SEM PROCESS FLOW</u></strong></p> -->
                    <h3 class="primary-color text-center" >SEM PROCESS FLOW</h4>
                    <p>In today’s online world, it is imperative that your website delivers desired outcomes for your targeted audiences. Goggle is the largest search engine on the internet occupying more than 80% of the market share. <strong>Google</strong> <strong>Ads</strong> (previously Google AdWords), is the advertising platform of Google which helps to serve ads to the users when they perform a search. Google Ads is worthwhile because it helps to improve the brand visibility, bring in faster results, deliver measurable ROI as well as speed up the process of revenue generation.</p>
                    <p>We take creditability in reporting for Fiat – an European auto mobile giant along-side renowned auto mobile brands like Jeep, Alfa Romeo, Abarth, Lancia and Fiat Professional that all come under <strong>Fiat Chrysler Automobiles (FCA).</strong></p>
                    <p>P2C SEM reporting is dependent on 2 platforms: - Goggle Ads and Marin.</p>
                    <p>We report on a total of 8 P2C markets: Italy, Germany, France, Belgium, Poland, Netherlands, Denmark and Austria for which SEM Market Leads are assigned (native language specific). Starcom is a creative agency that performs campaign executions/editions on behalf of the client. While the capability lead is responsible to monitor all the tasks, the analytics team accounts for the assigned markets.</p>
                    <p>An analyst is an individual, preferentially proficient in the field of digital marketing – a skilled and trained resource who must be Google Certified (added qualification). He/she must be abreast with the standard industry knowledge along with the platforms he/she is working on – an added qualification for writing insights.</p>
                    <p>As prior requirements, each analyst will have read only access to Goggle Ads dashboard for all the markets. He/she can monitor the performance metrices, create custom reports wherever required, compare metrices, analyze account history changes etc.</p>
                    <p>To begin with, the implementation of <strong>tracking codes</strong> is a must – useful for tracking conversions (leads and engagements) on your website. Thereafter, all the campaigns must have precise mappings before starting reporting – whether on a daily (in case of ad hoc), weekly or monthly. In case, there are “not found” <strong>campaigns, mapping</strong> must be done accurately to ensure proper results.</p>
                    <p>The reporting is based on the pre-approved template by the client – segregating reporting on keywords, devices and re-marketing tabs. We make use of Google Ads for data extraction on a weekly as well as monthly basis. The templates have been automated majorly to ensure error free data (data efficiency and accuracy), though they can be populated manually. However, <strong>analyzing insights</strong> (typical format mentioned in detail below) require an in-depth knowledge about the account and its behavior on a timely basis.</p>
                    <p>As agreed, weekly reports and insights for all the markets are delivered on the 3<sup>rd</sup> working day of each week along with the Geo (Geography) reports of individual markets, if applicable. For monthly reports, deliverables will be scheduled on first Friday of the month, if the month starts on a Monday, else the deliverables are scheduled for second Friday of the month, as is applicable. Monthly cross markets reports are also delivered in the first week of every month. <strong>The minimum quality score for an analyst is &gt;= 95%.</strong></p>
                    <p>As a result, the deliverables include weekly reports and insights, weekly geo reports, monthly/quarterly reports along with recommendations, if any, monthly cross market reports and Customer Journey reports for all the P2C markets. Ad hoc reporting may require attention on a daily/weekly/monthly/quarterly basis depending on the SEM market leads and requirement of the individual market.</p>
                    <p>After a thorough check on the performance metrics and insights on a regular basis (ensuring error free data as it is a critical element), reports are ready to be delivered to the on-shore team at the mentioned timelines. The on-shore team further adds in the recommendations or other details, if required, before the reports are sent out to the client.</p>
                    <p>Insight Sample for IT weekly reports:</p>
                    <p><strong></strong></p>
                    <h4><strong>FIAT</strong></h4>
                    <p></p>
                    <ul>
                        <li><strong>Weekly spends</strong> dropped by (-6%, to €47.7k) parallel to (-9%) decrease in <strong>traffic</strong>; <strong>leads</strong> shifted positively from 693 to 701 cutting <strong>CPL </strong>by (-7%) from €73 to €68. Costs mark an underspending of 4% (around €11.5k).</li>
                        <li>Channel wise, Desktop users note a gain in generating (271 vs. 233 leads last week) somewhat compensating the drop recorded from Mobile users (393 vs. 426), enhancing the <strong>overall CR</strong> (+11%; at 0.63%).</li>
                        <li>Amid all models, Fiat Panda scored the maximum share in lead volumes (from 146 to 186 Wow) trailed by Fiat 500X (from 40 to 57), rest models fail to register improvements. Conversely, brand generic keywords note a slight drop in terms of lead generations (from 232 to 229; -9% CPL).</li>
                        <li><strong><em>Re-targeting</em></strong>: As against standard traffic, RLSA users register +6% higher CPL and (-18%) lower CR with a slight drop in conversions from 30 to 28 WoW.</li>
                        <li><strong><em>Fleet &amp; Business</em></strong><strong>:</strong> Spends note heavy fall by -67% (to €1.2k), leads drop (from 53 to 36, -32%), however, registering a lower CPL of €34 (-51%).</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><strong>Points that will help to write insights:</strong></p>
                    <ol>
                        <li>Evaluate the reports – starting with the leads &gt; relating it to the change in traffic &gt; changes noted in cost per click &gt; how has it affected the weekly/monthly spends and ultimately the cost per lead or cost per conversion.</li>
                        <li>Observe the %change {formula: =(current week value - last week/last week)} and difference in numbers WoW (week on week) or MoM (month on month), if applicable, &nbsp;for all the tabs – brand type wise, remarketing stage and model wise – as one or more of these might have affected due to the changes occurred. Also, mention about the budget; whether under or over spending on a weekly/monthly basis along with the % spent. This will also help to understand if any promotional activities are in progress on the account or not.</li>
                        <li>Observe channel wise rise/drop; the effect on overall conversion rate on the account</li>
                        <li>Next, monitoring the model tab will give an idea as to which model has been affected – positively or negatively. To find the root cause - apply comparison with the last week to find the exact campaign and reason. Check the Graph representation to know the date on which the changes were affected.
                            <ol type="a">
                                <li>Mentioning about the progress for re-marketing users against standard users, mainly in terms of cost per lead or conversion rate and account conversions compared Wow.</li>
                            </ol>
                        </li>
                        <li>For IT, include the summary of the respective Fleet accounts – leads, CPL, CPC.</li>
                        <li>Add Search Impression Share and Search IS Lost by Budget from Google ads dashboards for brand types and Models for all markets.</li>
                        <li>Change history will help to know the tentative reason that would have affected the changes
                            <ol type="a">
                                <li>Even Google Trends help to know the reason if not supported by Change history</li>
                                <li>Search term report will give keywords that were out of the campaign focus yet getting clicks and increasing the CPC</li>
                            </ol>
                        </li>
                    </ol>
                                    
    
                               
            </div>
        </div>
    <!-- /.row -->
 <!--    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">26</div> -->
                         <!--    <div><h3>Brands</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right "></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">12</div> -->
            <!--                 <div><h3>New Tasks!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">124</div> -->
                         <!--    <div><h3>New Orders!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right "> -->
                            <!-- <div class="huge">13</div> -->
                       <!--      <div><h3>Support Tickets!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div> -->