<!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
      
    </div> -->
   <div class="container-fluid" style="width: 78vw;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:grey">Quick Links</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row quicklinks">
    <div class="col-sm-3 col-lg-1  tooltips"  style="text-align:center">
       
        <a href="https://ts.accenture.com/sites/FGA_P2C_Proposal/Lists/Conference%20Room%20Booking/calendar.aspx"    target="_blank" ><i class="fas fa-plus-circle"></i><br>CRB <span class="tooltiptext">CONFERENCE ROOM BOOKING</span></a>
       
       </div>
       <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://ts.accenture.com/sites/FGA_P2C_Proposal/SitePages/database.aspx" target="_blank" ><i class="fas fa-plus-circle"></i><br>MD<span class="tooltiptext">MASTER DATABASE</span></a>
       </div>
       <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://mme.accenture.com/Cross/WMUDashboard.aspx" target="_blank" ><i class="fas fa-plus-circle"></i><br>MME<span class="tooltiptext">MME</span></a>
       </div>
       
       <!--  <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://ts.accenture.com/sites/FGA_P2C_Proposal/Lists/PM%20shift%20timings/AllItems.aspx#InplviewHash846a846d-ce09-4bbc-bca8-37d9d342fa24=ShowInGrid%3DTrue" target="_blank" ><i class="fas fa-plus-circle"></i><br> PST<span class="tooltiptext"> PM SHIFT TIMING</span></a>
       </div> -->
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://myte.accenture.com/OGTE/Home.aspx" target="_blank" ><i class="fas fa-plus-circle"></i><br>MYTE<span class="tooltiptext"> MYTE</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://ts.accenture.com/sites/FGA_P2C_Proposal/SiteAssets/Dashboard/" target="_blank" ><i class="fas fa-plus-circle"></i><br>MALI<span class="tooltiptext">MARKET AND LAL INFO</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://login.eloqua.com/auth/saml2/autologin?LoginPrefix=FIAM&Idp=d0f5555e-41cd-4033-a4e1-b0e20acfbefd" target="_blank" ><i class="fas fa-plus-circle"></i><br>EL<span class="tooltiptext">ELOQUA LINK</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://login.eloqua.com/auth/saml2/autologin?LoginPrefix=FIAM&Idp=d0f5555e-41cd-4033-a4e1-b0e20acfbefd" target="_blank" ><i class="fas fa-plus-circle"></i><br>VDI<span class="tooltiptext">VDI</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://ictselfcare.fiatspa.com/SelfCare/" target="_blank"><i class="fas fa-plus-circle"></i><br>IS<span class="tooltiptext">ICT SELFCARE</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://adop.restricted.saucelabs.com/beta/login" target="_blank"><i class="fas fa-plus-circle"></i><br>SAUCELABS<span class="tooltiptext">SAUCELABS</span></a>
       </div>
        <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://nextgenbpoupload.accenture.com/esphere/Login.aspx" target="_blank" ><i class="fas fa-plus-circle"></i><br>DIGIVIEW<span class="tooltiptext">DIGIVIEW</span></a>
       </div>
         <div class="col-sm-3 col-lg-1 tooltips" style="text-align:center">
       <a href="https://ts.accenture.com/sites/FGA_P2C_Proposal/SitePages/modelcode.aspx" target="_blank" ><i class="fas fa-plus-circle  " ></i>
<br>PC <span class="tooltiptext">PRODUCT CATALOGUE</span></a>
       </div>
      
      
      
      
    </div>
    <div class="row" >
    <div class="bg-primary" style="border-radius:3px">
    <h3 style="padding:10px">What's New</h3>
    </div>
    </div>
        </div>
    <!-- /.row -->
 <!--    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">26</div> -->
                         <!--    <div><h3>Brands</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right "></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">12</div> -->
            <!--                 <div><h3>New Tasks!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right"> -->
                            <!-- <div class="huge">124</div> -->
                         <!--    <div><h3>New Orders!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right "> -->
                            <!-- <div class="huge">13</div> -->
                       <!--      <div><h3>Support Tickets!</h3></div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div> -->